# Binaries for programs and plugins
*.exe
*.exe~
!openssl.exe

*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project local build files
*.o
*.dmp

.vscode/launch.json
.vscode/settings.json

*.txt
*.log

__*
go.sum

# Ignore the database file
data/